results
evaluation.pyc
simulation.pyc
output.pyc
case_singleout.pyc
case_bruteforce.pyc
case_oracle.pyc
case_noisy.pyc
synctools.pyc
cmr12
GlobFreq_LinStab/DPLLParameters_backup20170509.csv
GlobFreq_LinStab/DPLLParameters_backup20170509.ods

